<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/list.css">
  <script src="https://kit.fontawesome.com/064a55beb6.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <div id="wrapper">
     <!-- HEADER BASIC -->
     <header id="header">
      <div class="header_inner">
        <h1><img src="./images/header_logo.png" alt="logo"></h1>
        <nav id="gnb">
          <ul>
            <li><a href="#">펫시터 찾기</a></li>
            <li><a href="#">보호자 찾기</a></li>
            <li><a href="#">공지사항</a></li>
          </ul>
        </nav>
        <div class="login_menu">
          <ul>
            <!-- 세션있을때  -->
            <li class="in_session"><a class="heart transition02" href="#"><i class="fa-solid fa-heart"></i></a></li>
            <li class="in_session"><a class="alert transition02" href="#"><i class="fa-solid fa-bell"></i></a></li>
            <li class="in_session mypage"><a a class="my transition02" href="#"><i class="fa-solid fa-user"></i> </a></li>

            <!-- 세션없을때 로그인 -->
            <li><a class="login" href="#">로그인</a></li>
          </ul>
        </div>
      </div>
    </header> 
    <!-- CONTAINER -->
    <div class="container w90">
      <h3>*table_list_type(컬럼 잇을경우 테이블처리)</h3>
      <table class="tbl_list_type">
        <thead>
          <tr>
            <th>날짜</th>
            <th>신고자</th>
            <th>신고대상</th>
            <th width="50%">제목</th>
            <th>처리상태</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2022-10-25</td>
            <td>홍길동</td>
            <td>구운몽</td>
            <td>서비스이행하지않음</td>
            <td><span class="status_btn comp">완료</span></td>
          </tr>
          <tr>
            <td>2022-10-25</td>
            <td>홍길동</td>
            <td>구운몽</td>
            <td>서비스이행하지않음</td>
            <td><span class="status_btn pend">대기</span></td>
          </tr>
          <tr>
            <td>2022-10-25</td>
            <td>홍길동</td>
            <td>구운몽</td>
            <td>서비스이행하지않음</td>
            <td><span class="status_btn pend">대기</span></td>
          </tr>
          <tr>
            <td>2022-10-25</td>
            <td>홍길동</td>
            <td>구운몽</td>
            <td>서비스이행하지않음</td>
            <td><span class="status_btn pend">대기</span></td>
          </tr>
         
        </tbody>
      </table>

      <h3>*default_list_type(테이블헤드리스타입)</h3>
      <div class="default_list_type">
        <p class="list_title">공지사항</p>
        <ul>
          <li>
            <p class="cont_title">펫트너 오픈기념 쿠폰을 드려요</p>
            <div class="cont_text">
              펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다. 바이트수로 백단에서 ellipsis 처리하세요
            </div>
            <div class="cont_sub_info">        
              <div class="like_view">
                <p><i class="fa-regular fa-heart"></i><span>22</span></p>
                <p><i class="fa-solid fa-eye"></i><span>120</span></p>    
              </div>      
              <div class="date">2022-10-25</div>

            </div>
          </li>
          <li>
            <p class="cont_title">펫트너 오픈기념 쿠폰을 드려요</p>
            <div class="cont_text">
              펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다. 바이트수로 백단에서 ellipsis 처리하세요
            </div>
            <div class="cont_sub_info">        
              <div class="like_view">
                <p><i class="fa-regular fa-heart"></i><span>22</span></p>
                <p><i class="fa-solid fa-eye"></i><span>120</span></p>    
              </div>      
              <div class="date">2022-10-25</div>

            </div>
          </li>
          <li>
            <p class="cont_title">펫트너 오픈기념 쿠폰을 드려요</p>
            <div class="cont_text">
              펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다.펫트너 오픈했습니다. 많은 관심 부탁드립니다. 바이트수로 백단에서 ellipsis 처리하세요
            </div>
            <div class="cont_sub_info">        
              <div class="like_view">
                <p><i class="fa-regular fa-heart"></i><span>22</span></p>
                <p><i class="fa-solid fa-eye"></i><span>120</span></p>    
              </div>      
              <div class="date">2022-10-25</div>

            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer id="footer">
      <div class="footer_inner">
        <div class="footer_logo"><img src="./images/footer_logo.png" alt=""></div>
        <div class="footer_menu">
          <!-- 마이페이지 -->
          <div>
            <p class="fm_title">마이페이지</p>
            <div class="fms">
              <a href="#">마이페이지</a>
              <a href="#">팔로우/팔로워</a>
              <a href="#">쪽지</a>
              <a href="#">내가찜한게시글</a>
              <a href="#">리뷰관리</a>
              <a href="#">1:1문의</a>
            </div>
          </div>
          <!-- 펫시터찾기 -->
          <div>
            <p class="fm_title">펫시터찾기</p>
            <div class="fms">
              <a href="#">서비스 신청</a>
              <a href="#">내 주변 시터</a>
            </div>
          </div>
          <!-- 공지사항 -->
          <div>
            <p class="fm_title">공지사항</p>
            <div class="fms">
              <a href="#">Q&A</a>
              <a href="#">이벤트</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>