<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/form_component.css">
  <link rel="stylesheet" href="./css/mypage_form.css">

  <script src="https://kit.fontawesome.com/064a55beb6.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <title>시터정보입력</title>
</head>

<body>
  <div id="wrapper">

    <div class="login_form w50">      
      <h3 class="form_title fs24">펫시터 정보 등록</h3>

      <form action="#" method="POST" id="" class="mypage_form">
        <div class="tip tip1 mb25">펫시터 활동을 위한 추가 정보 등록이 필요해요</div>

        <!-- 사진등록 -->
        <div class="f_row profile_upload">
          <p class="fc_title">프로필 사진을 올려주세요</p>
          <p class="tip">프로필 사진이 있으면 보호자에게 연락올 확률이 높아져요</p>
          
          <div class="profile_upload">
            <div class="prof_img">
              <p class="img"><img src="#" alt="사진이없을경우 이미지"></p>
              <p class="pet_btn edit_btn"><i class="fa-solid fa-pen"></i></p>
            </div>
          </div>
        </div>
       

        <!-- 동물체크 -->
        <div class="f_row">
          <p class="fc_title">케어가능한 반려동물의 종류를 선택해주세요</p>
          <label class="fcCbox2 mr12">
            <input type="checkbox" name="A"><span>강아지</span>
          </label>
          <label class="fcCbox2 mr12">
            <input type="checkbox" name="B"><span>고양이</span>
          </label>
          <label class="fcCbox2 mr12">
            <input type="checkbox" name="C"><span>관상어</span>
          </label>
          <label class="fcCbox2 mr12">
            <input type="checkbox" name="D"><span>새</span>
          </label>
          <label class="fcCbox2">
            <input type="checkbox" name="E"><span>파충류</span>
          </label>
        </div>
        <input type="text">

        <!-- 가능한 요일 -->
        <div class="f_row days">
          <p class="fc_title">펫시터 활동이 가능한 요일을 알려주세요</p>
          <p class="pb12 select_all"><label class="fcCbox1"><input type="checkbox"><span>전체선택</span></label></p>
          <label class="fcCbox2 mr12"><input type="checkbox" name="A1"><span>월</span></label>
          <label class="fcCbox2 mr12"><input type="checkbox" name="A2"><span>화</span></label>
          <label class="fcCbox2 mr12"><input type="checkbox" name="A3"><span>수</span></label>
          <label class="fcCbox2 mr12"><input type="checkbox" name="A4"><span>목</span></label>
          <label class="fcCbox2 mr12"><input type="checkbox" name="A5"><span>금</span></label>
          <label class="fcCbox2 mr12"><input type="checkbox" name="A6"><span>토</span></label>
          <label class="fcCbox2"><input type="checkbox" name="A7"><span>일</span></label>
        </div>
        
        <!-- 제공가능서비스 -->
        <div class="f_row">
          <p class="fc_title">제공가능한 서비스를 알려주세요</p>
          <p class="pb12 select_all"><label class="fcCbox1"><input type="checkbox"><span>전체선택</span></label></p>
          <label class="fcCbox2 mr12"><input type="checkbox" name="A1"><span>방문관리</span></label>
          <label class="fcCbox2 mr12"><input type="checkbox" name="A2"><span>산책</span></label>
          <label class="fcCbox2 mr12"><input type="checkbox" name="A3"><span>목욕</span></label>
          <label class="fcCbox2"><input type="checkbox" name="A4"><span>교육</span></label>
          
        </div>

        <div class="f_row">
          <p class="fc_title">활동가능한 지역을 알려주세요</p>
          <select class="fcc_select" name="" id="">
            <option value="">셀렉트옵션</option>
            <option value="">셀렉트옵션</option>
            <option value="">셀렉트옵션</option>
          </select>
        </div>

        <div class="f_row">
          <p class="fc_title">자기소개를 간단하게 해주세요. 펫시터 경험을 써주셔도 좋아요</p>
          <textarea name="" id="" class="fcc_textarea">textarea 이다</textarea>
        </div>
        
        <span type="span" class="pet_btn submit_btn transition02">펫시터정보등록하기</span>
      </form>
      
    </div>
  </div>
</body>



<script>
 
  $(document).ready(function(){
    $(".submit_btn").click(function(){
      alert();
      //$("form").submit();
    })
  })
</script>