<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/form_component.css">
  <script src="https://kit.fontawesome.com/064a55beb6.js" crossorigin="anonymous"></script>
  <title>회원가입</title>
</head>


<body>
  <div id="wrapper">

    <div class="login_form w50">      
      <h3 class="form_title">회원가입</h3>
      <form action="#" method="POST" id="" class="join_form">
        <div class="f_row">
          <p class="fc_title">어쩌고저쩌고</p>
          <p class="tip"><i class="fa-solid fa-asterisk"></i> 회원가입후 추가로 정보를 등록할 수 있어요</p>
          <div class="flex_col">
            <label class="fcRadio1 mb10"><input type="radio" name="type"><span>보호자로 등록하기 ( 펫시터를 찾고있어요 )</span></label>
            <label class="fcRadio1"><input type="radio" name="type"><span>펫시터로 등록하기 ( 돌봐줄 동물을 찾고있어요 )</span></label>
          </div>          
        </div>
        <!-- TEXT/PASSWORD -->
        <div class="f_row">
          <p class="fc_title">아이디</p>
          <p class="flex_agn_center">
            <input class="mr12" type="text" placeholder="ID"/>
            <span class="pet_btn second_btn transition02">중복확인</span>
          </p>
        </div>
        <div class="f_row flex_col">
          <p class="fc_title">비밀번호</p>
          <input class="mb10" type="password" placeholder="비밀번호입력"/>
          <input type="password" placeholder="비밀번호확인"/>
        </div>
        <div class="f_row">
          <p class="fc_title">이메일</p>
          <p class="flex_agn_center">
            <input type="text" placeholder=""/>
            <span style="margin:0 10px;">@</span>
            <select class="fcc_select" name="email" id="">
              <option value="gmail.com">gmail.com</option>
              <option value="">gmail.com</option>
              <option value="">gmail.com</option>
              <option value="">gmail.com</option>
              <option value="">gmail.com</option>
              <option value="">gmail.com</option>
            </select>
          </p>
        </div>
        <div class="f_row">
          <p class="fc_title">이름</p>
          <input type="text"/>
        </div>
        <div class="f_row">
          <p class="fc_title">나의별명</p>
          <input type="text"/>
        </div>
        <div class="f_row">
          <p class="fc_title">성별</p>
          <label class="fcRadio1 mr12">
            <input type="radio" name="coconut"><span>남자</span>
          </label>
          <label class="fcRadio1 mr12">
            <input type="radio" name="coconut"><span>여자</span>
          </label>
        </div>
        <div class="f_row">
          <p class="fc_title">주소입력</p>
          <div class="flex_col">
            <p class="mb10">
              <input class="mr12" type="text" disabled/><span class="pet_btn second_btn transition02">주소찾기</span>
            </p>            
            <input class="mb10" type="text" disabled/>
            <input class="mb10" type="text" placeholder="상세주소입력"/>
          </div>
        </div>
        
        <span class="pet_btn submit_btn transition02">회원가입하기</span>
      </form>
    </div>
  </div>
</body>