<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/mypage_default.css">
  <link rel="stylesheet" href="./css/list.css">  
  <script src="https://kit.fontawesome.com/064a55beb6.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

  <title>MYPAGE LAYOUT</title>
</head>
<body>
  <div id="wrapper">
    <!-- HEADER BASIC -->
    <header id="header">
      <div class="header_inner">
        <h1><img src="./images/header_logo.png" alt="logo"></h1>
        <nav id="gnb">
          <ul>
            <li><a href="#">펫시터 찾기</a></li>
            <li><a href="#">보호자 찾기</a></li>
            <li><a href="#">공지사항</a></li>
          </ul>
        </nav>
        <div class="login_menu">
          <ul>
            <li><a class="login" href="#">로그인</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- CONTAINER -->
    <div class="container">
      <div class="mypage_wr w100">

        <div class="my_profile">
          <div class="">
            <!-- 이미지영역 -->
            <div class="prof_img">
              <img src="https://img.wkorea.com/w/2022/10/style_634f9b4c8c907-500x354-1666161931.jpg" alt="이미지">
            </div>
            <!-- 텍스트정보 영역 -->
            <div class="prof_text">
              <div class="row1">                
                <p >idid1234</p>
                <p><a href="#"><i class="fa-solid fa-gear"></i></a></p>
              </div> 
              <div class="row2">
                <p><a href="#">팔로워<span class="f_val">122</span></a></p>
                <p><a href="#">팔로잉<span class="f_val">122</span></a></p>
                <p><span class="badge">최강기요미</span></p>
              </div>            
            </div>
          </div>
        </div>

        <div class="my_view">
          <div class="side_menu">
            <!-- 조건 둘다일경우만 토글 출력 -->
            <div class="toggle">
              <label class="switch">
                <input type="checkbox">        
                <span class="slider round"></span>
                <span class="texts">
                  <span class="text1 active">펫시터</span>
                  <span class="text2">보호자</span>
                </span>
              </label>
            </div>
            <!-- 둘다일경우 시터가 default -->
            <ul>
              <li>
                <p class="first_menu">내정보</p>
                <div class="second_menu">
                  <a href="#">나의정보보기</a>
                  <a href="#" class="coconut">나의 시터정보 관리</a>
                  <!-- 보호자일경우
                    <a href="#">나의펫정보관리</a>
                  -->
                </div>
              </li>

              <li>
                <p class="first_menu">나의 서비스</p>
                <div class="second_menu">
                  <a href="#">내가 받은 요청</a>
                  <a href="#">내가 찜한 요청</a>
                  <!-- 보호자일경우
                    <a href="#">서비스 요청하기</a>
                    <a href="#">신청한 서비스 보기</a>
                  -->
                </div>
              </li>
              
              <li>
                <p class="first_menu">리뷰관리</p>
                <div class="second_menu">
                  <a href="#">리뷰 쓰기</a>
                  <a href="#">내가 쓴 리뷰</a>
                  <a href="#">내가 받은 리뷰</a>
                </div>
              </li>

              <li>
                <p class="first_menu">고객센터</p>
                <div class="second_menu">
                  <a href="#">1:1문의</a>
                </div>
              </li>
             
            </ul>
          </div>
          <div class="cont_view">
            
          </div>
        </div>
      </div>
    </div>

    <footer id="footer">
      <div class="footer_inner">
        <div class="footer_logo"><img src="./images/footer_logo.png" alt=""></div>
        <div class="footer_menu">
          <!-- 마이페이지 -->
          <div>
            <p class="fm_title">마이페이지</p>
            <div class="fms">
              <a href="#">마이페이지</a>
              <a href="#">팔로우/팔로워</a>
              <a href="#">쪽지</a>
              <a href="#">내가찜한게시글</a>
              <a href="#">리뷰관리</a>
              <a href="#">1:1문의</a>
            </div>
          </div>
          <!-- 펫시터찾기 -->
          <div>
            <p class="fm_title">펫시터찾기</p>
            <div class="fms">
              <a href="#">서비스 신청</a>
              <a href="#">내 주변 시터</a>
            </div>
          </div>
          <!-- 공지사항 -->
          <div>
            <p class="fm_title">공지사항</p>
            <div class="fms">
              <a href="#">Q&A</a>
              <a href="#">이벤트</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>

<script>
  $(document).ready(function(){
    $(".toggle input").click(function(){      
      $(".text1").toggleClass("active");
      $(".text2").toggleClass("active");

      if( $(this).is(':checked') ){ // check가 보호자임
        // console.log("켜짐")
        // $(".coconut").attr("href", "www");
      }else{
        console.log("꺼짐")
      }
    })
 })
</script>